@charset "UTF-8";

body {
    background-color: #D6D58E;
    font-family: Arial, Helvetica, sans-serif;
}

#principal {
    color: #9FC131;
    text-align: center;
}

h1 {
    color: #005C53;
}

h2 {
    color: #042940;
}

.basico {
    color: aqua;
    text-align: right;
}

.intermediario {
    color: brown;
    text-align: center;
}

.avançado {
    color: darkblue;
    text-align: left;
}